body {
  background-color: rgb(15, 15, 15);
}

.demo-support-container {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 12px;
  background-color: rgba(255, 255, 255, 0.15);
  width: 100vw;
  margin-bottom: 20px;
  justify-content: center;
}

.demo-btn-wallet {
  background: #31cb9e;
  border-radius: 999px;
  padding: 8px 12px;
}

.demo-wallet-address {
  color: #fff;
}

.demo-widget-wrapper {
  width: 100vw;
  display: flex;
  justify-content: center;
}
